.M-PROGRAMACION{
    background-color: rgb(250, 186, 162);
}
.M-ELECTRICIDAD{
    background-color: rgb(245, 245, 104);
}
.M-LIBRE{
    background-color: rgb(173, 255, 47);
}
.M-SOCIALES{
    background-color: rgb(248, 178, 201);
}
.EXTRA{
    background-color: rgb(135, 206, 235);
}
